
{% extends "../base/base.html" %}
{% block title %}
Welcome to APi service
{% endblock %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@500&display=swap');

    h1 {
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
    }

    .txt-robo {
        font-family: 'Roboto', sans-serif;
        font-weight: 500
    }

    p {
        font-family: 'Open Sans', sans-serif;
    }

    h4 {
        font-weight: 300
    }

    .bg-dark {
        background-color: #000000 !important;
    }

    .fs14 {
        font-size: 14px;
    }


    /* Style for the code block container */
    pre.js-api-example {
      background-color: #000000;
      color: #FFFFFF; /* Add this line to change the text color to white */
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 10px;
    }
    
    /* Style for the URL */
    .js-api-example-url {
      color: #0070c0;
    }
    
    /* Style for the code */
    .js-api-example-code {
      font-family: 'Courier New', Courier, monospace;
    }
    





</style>
<div class="container">

    <div class="container py-4">
        <div class="p-3 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">Dayana Image API</h1>
              
              <p class="col-md-8 fs-4">Get access to our entire photo base on any category.
                It’s free and seamlessly integrates with just a few lines of code.  Find a list of the images 
                <a href="">here</a></p>
          
              <button class="btn  btn-lg" type="button" style="color:white;background:#32cd32">Get Started</button>
              <button class="btn  btn-lg" type="button" style="color:white;background:black">Documentation</button>
            </div>
          </div>
    <div> 


</div>



<div class="container col-12 col-md-12">

    <pre class="js-api-example">
        <span class="js-api-example-url">api.dayana/v1/curated</span>
        <code class="js-api-example-code">
          {
            "page": 1,
            "per_page": 4,
            "total_results": 200,
            "url": "https://api.dayana.com/v1/curated",
            "next_page": "https://api.dayana.com/v1/curated?page=2"
            "photos": [
              {
                "width": 2800,
                "height": 3500,
                "alt": "an-api-Documentation-design-image",
                "User": "Andy Vu",
                "src": {
                  "original": "https://*.jpg",
                }
              }
            ]
          }
        </code>
      </pre>
      
</div>



<div class="container py-4" >

    <div class="container py-5">
        <div class="row">
  
         <div class="col-md-4 ">
            <h1 class='api-landing-page__title'>Seamless Integration</h1>
         <p class=''>Our API is aweasome. Built with developers 
           and users in mind, our API is reliable, easy to integrate and gives your users unlimited access to beautiful images.</p>

          
         </div>
  
  
         <div class="col-md-8">
            <img class="shadow  bg-white rounded" src="http://127.0.0.1:8000/api/id/1" alt="description of the image" width="100%">
          
         </div>
  
        </div>
      </div>


</div>   


<div class="container">
   <h1> Frequently Asked Questions</h1>
   <br>
   <h4> Are there any limits or restrictions on calls?</h4>
   <p> There's no limit or restrictions on calls. </p>
   <br>

  <h4>Do I have to pay? </h4>
    <p>Nope! it's free of charge. <p>
   
     <br>
    
   <h4> Do we have to include attribution?</h4>
    <p> Nope!, it's already included on the image.</p>

    <br>


   <h4> Can I include dayana in my app or on my site?</h4>
   <p> Yes, if you feel like. </p>

</div>





<div class="container py-5">
    <h1 class ="text-center"> Some of our popular Images </h2>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="http://127.0.0.1:8000/api/id/1" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="http://127.0.0.1:8000/api/id/2" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="http://127.0.0.1:8000/api/id/3" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>



</div>    




{% include "base/footer.html" %} 
{% endblock %}

