
{% extends "../base/base.html" %}
{% block title %}
Welcome to APi service
{% endblock %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@500&display=swap');

    h1 {
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
    }

    .txt-robo {
        font-family: 'Roboto', sans-serif;
        font-weight: 500
    }

    p {
        font-family: 'Open Sans', sans-serif;
    }

    h4 {
        font-weight: 300
    }

    .bg-dark {
        background-color: #000000 !important;
    }

    .fs14 {
        font-size: 14px;
    }


    /* Style for the code block container */
    pre.js-api-example {
      background-color: #000000;
      color: #FFFFFF; /* Add this line to change the text color to white */
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 10px;
    }
    
    /* Style for the URL */
    .js-api-example-url {
      color: #0070c0;
    }
    
    /* Style for the code */
    .js-api-example-code {
      font-family: 'Courier New', Courier, monospace;
    }
    





</style>
<div class="container">

    <div class="container py-4">
        <div class="p-3 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">Dayana Image API</h1>
              
              <p class="col-md-8 fs-4">Get access to our entire photo base on any category.
                It’s free and seamlessly integrates with just a few lines of code. </p>
          
              <button class="btn  btn-lg" type="button" style="color:white;background:#32cd32">Get Started</button>
              <button class="btn  btn-lg" type="button" style="color:white;background:black">Documentation</button>
            </div>
          </div>
    <div> 


</div>



<div class="container col-12 col-md-12">

    <pre class="js-api-example">
        <span class="js-api-example-url">api.dayana/v1/curated</span>
        <code class="js-api-example-code">
          {
            "page": 1,
            "per_page": 4,
            "total_results": 200,
            "url": "https://api.dayana.com/v1/curated",
            "next_page": "https://api.dayana.com/v1/curated?page=2"
            "photos": [
              {
                "width": 2800,
                "height": 3500,
                "alt": "an-api-Documentation-design-image",
                "User": "Andy Vu",
                "src": {
                  "original": "https://*.jpg",
                }
              }
            ]
          }
        </code>
      </pre>
      
</div>



<div class="container">

    <div class="container py-5">
        <div class="row">
  
         <div class="col-md-4 ">
            <h1 class='api-landing-page__title'>Seamless Integration</h1>
         <p class=''>Our API is used by first-time coders to tech giants. Built with developers 
           and users in mind, our API is reliable, easy to integrate and gives your users unlimited creative options without disrupting their workflow.</p>

          
         </div>
  
  
         <div class="col-md-8">
            <img class="shadow  bg-white rounded" src="http://127.0.0.1:8000/api/id/1" alt="description of the image" width="100%">
          
         </div>
  
        </div>
      </div>


</div>    



<div class="container" style="max-width: 1240px;">

    <div class="row pt-5">
        <div class="col-12 col-md-6">
            <section class="jumbotron bg-white">
                <div class="container">
                    <h1 class="pt-4"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-image"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                            <path
                                d="M10.648 7.646a.5.5 0 0 1 .577-.093L15.002 9.5V13h-14v-1l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71z" />
                            <path fill-rule="evenodd" d="M4.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                        </svg> VeryPicSum
                    </h1>
                    <p class="h4">Image API Placeholders.</p>
                    <p class="text-muted">
                        Find a list of the images 
                        <a href="">here</a>
                    </p>
                </div>
            </section>
        </div>

        
        <img class="shadow  bg-white rounded" src="http://127.0.0.1:8000/api/id/1" alt="description of the image" width="100%">


        <div class=" d-none d-md-none d-md-block col-md-6">
            <section class="jumbotron text-center bg-white px-0">
                <div class="container">
                    <img class="shadow mb-5 bg-white rounded" src="http://127.0.0.1:8000/api/id/1" width="100%">
                </div>
            </section>
        </div>


    </div>
</div>


<section class="jumbotron text-center">
    <div class="container" style="max-width: 600px;">
        <h1 class="txt-robo h1">Easy to use placeholders</h1>
        <p>Just find an image and create a URL, not quite implemented width and height yet!</p>

        <pre class="bg-white pt-3"><code><a href="http://127.0.0.1:8000/api/id/2">https://127.0.0.1:8000/api/id/2</a></code>
            </pre>

    </div>
</section>

<div class="container">
    <div class="py-5">
        <div class="row">
            {% for post in object_list %}
            <div class="col-md-4">
                <a class="text-dark" href="{{post.get_absolute_url}}">
                    <div class="card mb-4 shadow mb-5 bg-white rounded">
                        <img class="card-img-top" src="{{post.image.url}}" alt="{{ post.title }}">
                        <div class="card-body d-flex justify-content-between ">
                            <p>{{post.title|truncatechars:50}}</p>
                            <p>#{{post.id}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% include "base/footer.html" %} 
{% endblock %}

